.venv/
__pycache__/
output/
.DS_Store
/product/yoloObjectDetection01/yolo-web-app/venv
/venv/
/train/
/masks/
/product/segmentation/debug/images/
/product/segmentation/debug/outputs/
/product/venv
/model_training/training_data/
